


 /* MOBILE */

 @media screen and (max-width: 768px) {
    /* SECCION INDEX */
    .indexgif{
        background-color: black;
        background-image: none
    }
    .imgrvng{
        width: 95%;
    }
 }
