/* reseteo */
*{
margin: 0;
padding: 0;
}

/* fondo de index*/
.indexgif{
    background-image: url(./imagenes/MyChemicalRomance.gif);
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}
/* fondo de las secciones */

.body{
    background-color: black;
}


.portada{
    display: flex;
    justify-content: center;
    min-width: 20%;
}

.imgrvng{
width: 50%;
}

.out-now{
    font-family: avenir;
    background-color: #525e7500;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 45px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}

.streaming-button{
    display: flex;
    justify-content: center;
}

.streaming{
    text-decoration: inherit;
    font-size: 13px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.082);
    border-style: solid;
    border-radius: 0px 0px 0px 0px;
    padding: 15px 30px 15px 30px;
}

/* FORMULARIO */
.formulario {
    width: 500px;
    margin: 20px auto;
    border: 1px;
    border-radius: 5px;
    padding: 20px;
}

.formulario input {
    display: block;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
    width: 92%;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #635353;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus,
.formulario textarea:focus {
    border: 2px solid #ffffff;
}

.formulario textarea {
    max-width: 95%;
    min-width: 95%;
    max-height: 50px;
    min-height: 150px;
}

.formulario input[type="submit"] {
    background-color: #721010;
    padding: 15px 35px;
    border: 1px solid #380404;
    border-radius: 3px; 
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

/* GIFS SECCION VIDEOS */

.gif-1{
    width: 100%;
    margin: 20px auto;
    border: 1px;
    border-radius: 5px;
    padding: 20px;
}
.gif-2{
    width: 100%;
    margin: 20px auto;
    border: 1px;
    border-radius: 5px;
    padding: 20px;
}
.gif-3{
    width: 100%;
    margin: 20px auto;
    border: 1px;
    border-radius: 5px;
    padding: 20px;
}
 /* SECCION GIRA */

 #tour{
    background: #090505;
    padding: 40px 0px;
    margin: 40px 200px;
 }

 #tour imagen{
    width: 40%;
 }


#tour .contenedor {
    display: flex;

}
#tour img{
    margin: 40px 50px;
    width: 90%;
    position: relative;
    top: -50px;
}
#tour .texto{
    color: #ffffff;
    text-align: center;
    width: 90%;
    margin-right: 60px;
    margin-left: 50px;
}
.fechas{
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    margin: auto;
    width: 100%;
    padding-bottom: 40px;
    margin-bottom: 60px;
    border-bottom: 1px solid #4b202033;

}
.fechas .numero{
    font-size: 40px;
}

.fechas h5, .fechas p{
    margin: 0%;
    margin-top: 5px;
}

.fechas h5{
    font-size: 20px;
}

 /* NOTICIAS */
  .news-article {
    width: 550px;
    border-radius: 15px;
    margin: auto;
    padding: 25px;
    background-color: #380404;
    box-shadow: 10px 11px 35px -14px #460a0a75;
  }
  .news-title {
    color: #635353;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
    letter-spacing: 5px;
  } 
  .news-post-by {
    color: #635353;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
  } 
  
 /* MOBILE */
 @media screen and (max-width: 768px) {
    .indexgif{
        background-color: black;
        background-image: none
    }
    .imgrvng{
        width: 95%;
    }
 }
