.formulario {
    width: 500px;
    margin: 20px auto;
    border: 1px;
    border-radius: 5px;
    padding: 20px;
}

.formulario input {
    display: block;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
    width: 92%;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #635353;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus,
.formulario textarea:focus {
    border: 2px solid nth($colores, 1);
}

.formulario textarea {
    max-width: 95%;
    min-width: 95%;
    max-height: 50px;
    min-height: 150px;
}

.formulario input[type="submit"] {
    background-color: nth($colores, 2);
    padding: 15px 35px;
    border: 1px solid nth($colores, 3);
    border-radius: 3px; 
    margin: 0px auto;
    font-family: 'PT Sans', sans-serif;
    color: nth($colores, 1);
    font-size: 16px;
    cursor: pointer;
}