.indexgif{
    background-image: url(../imagenes/particles.gif);
    background-size:contain;
    height: 100%;
    padding:0;
    margin:0;
    .portada{
        display: flex;
        justify-content: center;
        min-width: 20%;
    }
    .imgrvng{
        width: 50%;
        }
        
        .out-now{
            font-family: 'PT Sans';
            background-color: #525e7500;
            text-transform: uppercase;
            color: nth($colores, 1);
            font-size: 35px;
            padding: 10px 0px;
            display: flex;
            justify-content: center;
        }
        

        
        .streaming{
            display: flex;
            justify-content: center;
            color: nth($colores, 1);
            background-color: rgba(255, 255, 255, 0);
            margin-top: -6px;
            gap: 24px;
        }
}

/* MOBILE */
@media screen and (max-width: 768px) {
    /* SECCION INDEX */
    .indexgif{
        background-color: black;
        background-image: none
    }
    .imgrvng{
        width: 100% !important;
    }
 }
 